body {
    font-family: monospace;
    font-size: 1.2rem;
    max-width: 640px;
    margin: auto;
    padding: 1rem;
}

a {
    color: #9370d8;
}

a:visited {
    color: #312e41;
}

img {
    width: 100%;
}
